@charset "UTF-8";
@font-face{
    font-family: 'FontMenu';
    src: url("../fonts/Carrois_Gothic/CarroisGothic-Regular.ttf")
}

body{
    background-color: #3c405f;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

#navContainer {    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: absolute;
    width: 12vw;
    height: 100%;
    margin: 0%;
    background-color: #2e2f36;
    border-right: 2px solid rgba(249, 150, 1, 0.6);
}

/*Nav Section*/
nav{
    width: 100%;    
}

nav ul{
    margin: 0%;
    padding: 0%;
}

nav img{
    display: block;
    width: 12vw;
}

nav h1{
    margin: 0% auto;
    padding: 3% 2%;
    background-color: rgba(249, 150, 1, 0.6);
    color: snow;
    font-family: 'FontMenu', sans-serif;
    font-size: 0.88vw; /*11pt*/
    text-align: center;
}

nav li{
    list-style: none;
    border-bottom: 0.1px solid black;
}

nav a{
    display: block;
    height: auto;
    padding: 8% 18%;
    text-decoration: none;
    text-transform: uppercase;
    color: #818181;
}

nav i{
    font-size: 1vw;
    width: 150%;
}

nav span.lang{
    width: 200%;
    margin-left: 3%;
    font-weight: normal;
    font-family: 'FontMenu', sans-serif;   
    font-size: 0.87vw; /*11pt*/
}

nav a:hover{
    color: #f1f1f1;
    transition: color 0.3s ease-in-out; 
}

/*Footer Section*/
footer{
    text-align: center;    
}

footer a{
    display: inline-block;
    margin: 7%;
    color: #818181;
    font-size: 0.9vw;
}

footer i{
    font-size: 3vw;
}

footer a:hover{
    color: #f1f1f1;
    transition: color 0.3s ease-in-out;    
}

div.theme{
    position: relative;
    display: block;
    text-align: center;
}

div.theme label{
    display: inline;
    font-family: 'FontMenu', sans-serif;
    font-size: 0.6vw; /*8pt*/
    color: #818181;
}

div.theme label, input{
    width: 0.80vw;
    height: 0.80vw;
}

footer p{    
    width: 103.5%;
    margin-bottom: 5%;
    color:#818181;
    font-family: 'FontMenu', sans-serif;  
    font-size: 0.75vw; /*9.5pt*/
}

div.language{
    display: inline;
    text-align: center;
}

div.language a{
    margin: 0% 4% 0% 4%;
}

div.language a img{
    width: 1.3vw;
}

/*Iframe Section*/
iframe{
    position: fixed;
    display: block;
    width: 87.9%;
    height: 100%;
    left: 12.2%;
    border: none;
}